/lib/API/Google/GMail.pm
/gapi.conf
/Moo-Google-*

/CODE_REVIEW.MD

/datetime.pl
/discovery.pl
/google_bug.pl
/test.pl
/test2.pl
/third_party.pl

/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
/.idea/
